@import "tailwindcss";

/* Fix scale UI Desktop as requested by user */
@media (min-width: 1024px) {
  body {
    /* Sử dụng zoom để thu nhỏ toàn bộ web tương đương 80% trên Chrome/Edge/Safari */
    zoom: 0.8;
  }
}
@theme {
  --animate-shimmer: shimmer 1.5s infinite linear;
  @keyframes shimmer {
    0% { transform: translateX(-100%) skewX(-20deg); }
    100% { transform: translateX(200%) skewX(-20deg); }
  }
}
